auto-install-peers=true
git-tag-version=true
init-author-name="MRDGH2821"
init-author-url="https://bit.ly/mrdgh2821"
lockfile-version=3
message="chore: release %s"
public-hoist-pattern[]=*@sapphire*
sign-git-tag=true
